@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(212,255,203);
  background: linear-gradient(90deg, rgba(212,255,203,1) 0%, rgba(195,255,247,1) 50%, rgba(207,213,255,1) 100%);
}

.contenedor {
    display: flex;
    width: 850px;
    gap: 70px;
    padding: 60px 40px;
    background: #fff;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
}

.caja-ahorcado img {
   user-select: none;
   max-width: 270px;
}

.caja-ahorcado h1 {
    font-size: 1.45rem;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}

.caja-juego .visualizacion-palabra {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.visualizacion-palabra .letra {
    width: 28px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid #151414;
}

.visualizacion-palabra .letra.adivinada {
    margin: -40px 0 35px;
    border-color: transparent;
}

.caja-juego h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.caja-juego h4 b {
    font-weight: 600;
}

.caja-juego .texto-intentos b {
    color: #ab2424
}

.caja-juego .teclado {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 40px;
    justify-content: center;
}

:where(.modal-juego, .teclado) button {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: rgba(119,159,194,1);
}

.teclado button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}

.teclado button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

:where(.modal-juego, .teclado) button:hover {
    background: rgb(156,185,210,1);
}

.modal-juego {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}

.modal-juego.mostrar {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}

.modal-juego .contenido {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
}

.modal-juego img {
    max-width: 130px;
    margin-bottom: 20px;
}

.modal-juego img[scr="images/winner.gif"] {
    margin-left: -10px;
}

.modal-juego h4 {
    font-size: 1.5rem;
}

.modal-juego p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.modal-juego p b {
    color: rgb(112, 154, 190);
    font-weight: 600;
}
.modal-juego button {
    padding: 12px 23px;
}

@media (max-width: 782px) {
    .contenedor {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .caja-ahorcado img {
        max-width: 200px;
    }
    .caja-ahorcado h1 {
        display: none;
    }
    .caja-juego h4 {
        font-size: 1rem;
    }
    .visualizacion-palabra .letra {
        margin-bottom: 35px;
        font-size: 1.7rem;
    }
    .visualizacion-palabra .letra.adivinada {
        margin: -35px 0 25px;
    }
    .modal-juego img {
        max-width: 120px;
    }
    .modal-juego h4 {
        font-size: 1.45rem;
    }
    .modal-juego p {
        font-size: 1.1rem;
    }
    .modal-juego button {
        padding: 10px 18px;
    }
}